﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ImageResizerUpload.Home.ViewModels.IndexViewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["ApplicationName"]</title>
    </head>
    <body>
        @ViewData["GenericError"]
    </body>
</html>
