﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ImageResizerUpload.Home.ViewModels.IndexViewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["ApplicationName"]</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/dist/css/style.min.css">

        <script asp-append-version="true" defer type="text/javascript" src="~/dist/js/compiled-libs.js"></script>
        <script asp-append-version="true" defer type="text/javascript" src="~/dist/js/compiled-main.js"></script>
        <script asp-append-version="true" type="text/javascript">
            window.imageUploader = window.imageUploader || {};
            window.imageUploader.staticData = @Json.Serialize(Model.AppSettings);
        </script>
    </head>
    <body>
        <div class="c-header">
            <div class="c-header--container">
                <h1 class="is-title">@ViewData["ApplicationName"]</h1>
            </div>
        </div>
        <main id="reactAppRoot" class="c-body"></main>
    </body>
</html>
