﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

@main-color: #0097B1;
@counter-color: white;
@background-color: #f5f5f5;
@main-color-disabled: #f5f5f5;
@error-color: #db2525;

@panel-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

.word-wrap-mixin() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

.ellipsis-mixin(@wrap) {
    overflow: hidden;
    white-space: @wrap;
    text-overflow: ellipsis;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    font-style: normal;
    font-stretch: normal;
}

html { }

body {
    overflow-x: hidden;
    background-color: @background-color !important;
    position: relative;
    margin: 0;
}

h1, h2, h3, h4 {
    line-height: inherit;
    margin: 0;
    font-weight: 600;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

@media all and (max-width: 599px) {
    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 12px;
    }

    h3 {
        font-size: 12px;
    }

    h4 {
        font-size: 12px;
    }

    input {
        font-size: 10px !important;
    }
}

button {
    line-height: 15px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    color: @counter-color;
    border: 1px solid @main-color;
    border-radius: 2px;
    background-color: @main-color;
    text-transform: uppercase;
    position: relative;
    height: 46px;
    padding: 15px 10px 14px 10px;

    &.is-inverted {
        color: @main-color;
        background-color: @counter-color;
    }

    &.is-disabled {
        background-color: @main-color-disabled;
    }
}

input:not([type="file"]):not([type="checkbox"]) {
    font-size: 14px;
    color: #424242;
    height: 30px;
    margin: 0;
    border-radius: 2px;
    border: solid 1px #c5c5c5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 5px 10px 6px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type="file"] {
    font-size: 14px;
    color: #424242;
}

.c-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: @main-color;
    box-shadow: @panel-shadow;
    color: @counter-color;
    line-height: 70px;
    z-index: 2000;

    &--container {
        height: 70px;
        max-width: 1170px;
        margin: 0 auto;
    }

    .is-title {
        text-align: center;
        text-transform: uppercase;
    }
}

.c-body {
    padding: 0 20px 10px 20px; // compensate fixed header
    
    & > div {
        margin-top: 80px;
    }
}

.c-uploader, .c-previewer {
    padding: 10px;
}

.c-uploader {
    .is-header {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .is-disclaimer {
        font-size: 12px;
        font-style: italic;
    }

    &__form-area {
        margin-top: 40px;
    }

    &__button {
        margin-top: 20px;
        text-align: center;
    }
}

.c-previewer {
    &__error {
        color: @error-color;
        margin: 20px auto;
        text-align: center;
    }

    &__image {
        overflow: auto;

        img {
            margin: 0 auto;
            display: block;
        }
    }
}

.o-inputblock {
    display: block;
    margin-bottom: 15px;

    label {
        display: block;
        font-size: 12px;
        font-weight: 600;
        color: @main-color;
        line-height: 16px;
        margin-bottom: 3px;
        
        &.is-inline {
            display: inline-block;
        }
    }

    &.has-error {
        input {
            border: 1px solid @error-color;
        }
    }

    span.has-error {
        color: @error-color;
        font-size: 12px;
        line-height: 14px;
        margin-top: 3px;
        display: block;
    }
}

.o-input {
    &--file {
    }
}

.o-panel {
    position: relative;

    &--fullwidth {
        background-color: @counter-color;
        border-radius: 2px;
        margin: 5px;
        box-shadow: @panel-shadow;

        &.has-visible-dividers {
            & > div:not(.o-loader) {
                border-bottom: 1px solid @background-color;
            }
        }
    }
}

.o-loader {
    border-radius: 2px;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: @background-color;
    opacity: 0.5;
    display: none;

    &.is-loading {
        display: block;

        & > div:last-child {
            width: 50%;
            -webkit-animation: anim-progress-bar-stripes 2s linear infinite;
            -moz-animation: anim-progress-bar-stripes 2s linear infinite;
            -o-animation: anim-progress-bar-stripes 2s linear infinite;
            animation: anim-progress-bar-stripes 2s linear infinite;
        }
    }

    &__bar {
        position: relative;
        width: 0;
        height: 20px;
        top: 40%;
        margin: 0 auto;
        border-radius: 3px;
        background-color: @main-color;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        -webkit-background-size: 60px 60px;
        background-size: 60px 60px;
        -webkit-transition: width .6s ease;
        -moz-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }
}

@-webkit-keyframes anim-progress-bar-stripes {
    from {
        background-position: 60px 0;
    }

    to {
        background-position: 0 0;
    }
}

@-moz-keyframes anim-progress-bar-stripes {
    from {
        background-position: 60px 0;
    }

    to {
        background-position: 0 0;
    }
}

@-o-keyframes anim-progress-bar-stripes {
    from {
        background-position: 60px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes anim-progress-bar-stripes {
    from {
        background-position: 60px 0;
    }

    to {
        background-position: 0 0;
    }
}